# vscode
*.json
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# *.py.pyc
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pycharm
.idea

# data
/data
*.jpg
*.jpeg
*.png
*.tif

# initiator
#*.sh

# process
/events
*.log

# result
/work_dirs


# model
/weights
*.pth
*.onnx
*.tflite

# pyc
*.pyc

# document
doc/